html,
body,
.container {
  height: 100%;
}

body,
.container,
.choose {
  display: grid;
}

#welcome,
#progress,
#results,
#winner {
  text-align: center;
}

/*
#choose,
#progress,
#results,
#winner {
  margin: auto;
}
*/

#welcome,
#progress {
  grid-area: 1 / 2 / span 1 / span 1;
  position: absolute;
  left: 0;
  right: 0;
  white-space: pre-line;
}

body {
  background: #ff7070;
}

.container {
  grid-template-columns: 2fr 5fr 2fr;
  grid-template-rows: 1fr 1fr 1fr;
}

.choose {
  grid-area: 3 / 1 / span 1 / span 3;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#rock {
  grid-area: 2 / 2 / span 3 / span 1;
}

#paper {
  grid-area: 2 / 4 / span 3 / span 1;
}

#scissors {
  grid-area: 2 / 6 / span 3 / span 1;
}

#results {
  grid-area: 2 / 2 / span 1 / span 1;
  margin-top: 80px;
}

#winner {
  grid-area: 2 / 2 / span 1 / span 1;
  /*
  text-decoration: underline;
  text-decoration-skip-ink: none;
  */
}
